<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MobileCommerce">
        <activity
            android:name=".ProductSearchActivity"
            android:exported="false" />
        <activity
            android:name=".AdminDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".AdminOrderListActivity"
            android:exported="false" />
        <activity
            android:name=".RevenueReportActivity"
            android:exported="false" />
        <activity
            android:name=".TopSellingActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerSpendingActivity"
            android:exported="false" />
        <activity
            android:name=".EmployeeHomeActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerHomeActivity"
            android:exported="false" />
        <activity
            android:name=".CartActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>